<div id="output_pane">
	Output filename
	<input id="output" type="text">
	<button id="shutter_button" onClick="take_image()">Take Image</button>
</div>
<div id="camera_options">
	
	<div id="camera_modes_pane">
		<fieldset>
		<legend>Camera Mode</legend>
		<select id="camera_mode" class="mode" onchange="switch_camera_modes(this.value)">
			<option id="still" value="raspistill">Still Capture</option>
			<option id="video" value="raspivid">Video Capture</option>
			<option id="yuv" value="raspiyuv">YUV Capture</option>
		</select>
		</fieldset>
	</div>
	
	<div id="resolution_pane" class="additional_camera_options">
		<fieldset>
		<legend>Resolution</legend>
		Width<input type="number" id="aspect_width" name="--width" class="options" max="2592" min="320" onchange="scale_aspect_ratio('height', this.value)" style="width: 6em">
		Height<input type="number" id="aspect_height" name="--height" class="options" max="1944" min="240" onchange="scale_aspect_ratio('width', this.value)" style="width: 6em"><br>
		Lock<input type="checkbox" id="aspect_ratio_lock" onchange="toggle_aspect_ratio(this.checked)"><br>
		Aspect Ratio
		<select id="aspect_ratio" disabled>
			<option value="4:3">4:3</option>
			<option value="3:2">3:2</option>
			<option value="5:4">5:4</option>
			<option value="3:1">3:1</option>
			<option value="16:9">16:9</option>
		</select>
		Select preset resolution
		<select name="resolution" onchange="set_aspect_ratio(this.value)">
			<option value="2592x1944">2592 x 1944 (max)</option>
			<option value="2560x1920">2560 x 1920</option>
			<option value="2240x1680">2240 x 1680</option>
			<option value="2048x1536">2048 x 1536</option>
			<option value="1600x1200">1600 x 1200</option>
			<option value="1536x1180">1536 x 1180</option>
			<option value="1280x960" selected="selected">1280 x 960</option>
			<option value="1024x768">1024 x 768</option>
			<option value="800x600">800 x 600</option>
			<option value="640x480">640 x 480</option>
			<option value="320x240">320 x 240</option>
		</select>
		</fieldset>
	</div>
	
	<div id="encoding_pane" class="additional_camera_options">
		<fieldset>
		<legend>Encoding</legend>
		<select id="encoding" name="--encoding" class="options" onchange="toggle_encoding(this.value)">
			<option value="jpg">JPG</option>
			<option value="gif">GIF</option>
			<option value="png">PNG</option>
			<option value="bmp">BMP</option>
		</select>
		</fieldset>
	</div>
	
	<div id="quality_pane" class="additional_camera_options">
		<fieldset>
		<legend>Quality</legend>
		<input type="number" id="quality" name="--quality" class="options" max="100" min="0" value="75" style="width: 3em">
		</fieldset>
	</div>
	
	<div id="bayer_data_pane" class="additional_camera_options">
		<fieldset>
		<legend>Bayer Data</legend>
		Add raw Bayer data<input id="raw" type="checkbox" name="--raw" class="options">
		</fieldset>
	</div>
	
	<div id="sharpness_pane" class="additional_camera_options">
		<fieldset>
		<legend>Sharpness</legend>
		<input type="number" id="sharpness" name="--sharpness" max="100" min="-100" value="0" style="width: 4em">
		</fieldset>
	</div>
	
	<div id="contrast_pane" class="additional_camera_options">
		<fieldset>
		<legend>Contrast</legend>
		<input type="number" id="contrast" name="--contrast" max="100" min="-100" value="0" style="width: 4em">
		</fieldset>
	</div>
	
	<div id="brightness_pane" class="additional_camera_options">
		<fieldset>
			<legend>Brightness</legend>
		<input type="number" id="brightness" name="--brightness" max="100" min="0" value="50" style="width: 3em">
		</fieldset>
	</div>
	
	<div id="saturation_pane" class="additional_camera_options">
		<fieldset>
		<legend>Saturation</legend>
		<input type="number" id="saturation" name="--saturation" max="100" min="-100" value="0" style="width: 4em">
		</fieldset>
	</div>
	
	<div id="iso_pane" class="additional_camera_options">
		<fieldset>
			<legend>ISO</legend>
		<input type="number" id="iso" name="--iso" max="800" min="100" value="400" style="width: 3em">
		</fieldset>
	</div>
	
	<div id="vid_stab_pane" class="additional_camera_options" style="display:none">
		<fieldset>
			<legend>Video Stabilization</legend>
			Turn on video stabilization<input type="checkbox" id="vstab" name="--vstab">
			</fieldset>
	</div>
	
	<div id="ev_comp_pane" class="additional_camera_options">
		<fieldset>
			<legend>EV Compensation</legend>
		<input type="number" id="ev" name="--ev" max="10" min="-10" value="0" style="width: 3em">
		</fieldset>
	</div>
	
	<div id="framerate_pane" class="additional_camera_options" style="display:none">
		<fieldset>
			<legend>Framerate</legend>
		<input type="number" id="fps" name="--fps" max="30" min="2" value="25" style="width: 3em">
		</fieldset>
	</div>
	
	<div id="timeout_pane" class="additional_camera_options">
		<fieldset>
			<legend>Timeout</legend>
		<input type="number" id="timeout" name="--timeout" max="30" min="2" value="25" style="width: 3em">
		</fieldset>
	</div>
	
	<div id="bitrate_pane" class="additional_camera_options" style="display:none">
		<fieldset>
			<legend>Bitrate</legend>
		<input type="number" id="bitrate" name="--bitrate" max="30" min="2" value="25" style="width: 3em">
		</fieldset>
	</div>
	
	<div id="exposure_pane" class="additional_camera_options">
		<fieldset>
			<legend>Exposure Mode</legend>
		<select id="exposure" name="--exposure" class="options">
			<option value="auto">Auto</option>
			<option value="off">Off</option>
			<option value="night">Night</option>
			<option value="backlight">Backlight</option>
			<option value="spotlight">Spotlight</option>
			<option value="sports">Sports</option>
			<option value="snow">Snow</option>
			<option value="beach">Beach</option>
			<option value="verylong">Very long</option>
			<option value="fixedfps">Fixed FPS</option>
			<option value="antishake">Anti-shake</option>
			<option value="fireworks">Fireworks</option>
		</select>
		</fieldset>
	</div>
	
	<div id="aws_pane" class="additional_camera_options">
		<fieldset>
			<legend>Automatic White Balance</legend>
		<select id="aws" name="--aws" class="options">
			<option value="auto">Auto</option>
			<option value="off">Off</option>
			<option value="sun">Sunny mode</option>
			<option value="cloudshade">Cloudy mode</option>
			<option value="tungsten">Tungsten lighting mode</option>
			<option value="flourescent">Flourescent lighting mode</option>
			<option value="incandescent">Incandescent lighting mode</option>
			<option value="flash">Flash mode</option>
			<option value="horizon">Horizon mode</option>
		</select>
		</fieldset>
	</div>
	
	<div id="imxfx_pane" class="additional_camera_options">
		<fieldset>
			<legend>Image Effects</legend>
		<select id="imxfx" name="--imxfx" class="options">
			<option value="none">None</option>
			<option value="negative">Negative</option>
			<option value="solarise">Solarise</option>
			<option value="whiteboard">Whiteboard</option>
			<option value="blackboard">Blackboard</option>
			<option value="sketch">Sketch-style effect</option>
			<option value="denoise">Denoise</option>
			<option value="emboss">Emboss</option>
			<option value="oilpaint">Oilpaint</option>
			<option value="hatch">Cross-hatch sketch style</option>
			<option value="gpen">Graphite sketch style</option>
			<option value="pastel">Pastel</option>
			<option value="watercolour">Watercolour</option>
			<option value="film">Grainy film effect</option>
			<option value="blur">Blur the image</option>
			<option value="saturation">Colour-saturate the image</option>
		</select>
		</fieldset>
	</div>
	
	<div id="uv_mode_pane" class="additional_camera_options">
		<fieldset>
			<legend>Colour Effect</legend>
			Manually set the colour effect<input type="checkbox" class="uv_mode" name="uv_mode" onclick="toggle_uv_mode(this.checked)"><br>
			Set U:Y channels &nbsp U:<input type="number" class="options" max="255" min="0" value="0" id="u_channel" style="width: 3em" disabled> Y:<input type="number" max="255" min="0" value="0" id="y_channel" style="width: 3em" disabled>
		</fieldset>
	</div>
	
	<div id="metering_pane" class="additional_camera_options">
		<fieldset>
			<legend>Metering Mode</legend>
			<select id="metering" name="--metering" class="options">
				<option value="average">Average</option>
				<option value="spot">Spot</option>
				<option value="backlit">Backlit</option>
				<option value="matrix">Matrix</option>
			</select>
		</fieldset>
	</div>
	
	<div id="rot_or_pane" class="additional_camera_options">
		<fieldset>
			<legend>Rotation & Orientation</legend>
		Rotation:
		<select id="rotation" name="--rotation" class="options">
			<option value="0">0</option>
			<option value="90">90</option>
			<option value="180">180</option>
			<option value="270">270</option>
		</select>
		Flip:
		Vertical<input type="checkbox" id="vflip" name="--vflip" class="options">
		Horizontal<input type="checkbox" id="hflip" name="--hflip" class="options">
		</fieldset>
	</div>
	
	<div id="timelapse_pane" class="additional_camera_options">
		<fieldset>
			<legend>Timelapse</legend>
			<input type="checkbox" name="timelapse" id="timelapse_enabled" onChange="toggle_timelapse_mode(this.checked)">Enabled<br>
			Interval: <input type="number" value="1" min="0" max="100" id="timelapse_interval" name="interval" disabled><br>
			Time unit:
			<select id="timelapse_time_unit" name="time-unit" disabled>
				<option value="seconds">Seconds</option>
				<option value="minutes">Minutes</option>
				<option value="hours">Hours</option>
			</select>
		</fieldset>
	</div>
	
	<div id="roi_pane" class="additional_camera_options">
		<fieldset>
			<legend>Region of Interest</legend>
		Coming Soon!
		</fieldset>
	</div>
	
	<div id="tags_pane" class="additional_camera_options">
		<fieldset>
			<legend>Tags</legend>
			<fieldset>
				<legend>IFD</legend>
				Image Width<input name="ImageWidth" class="ifd_tags" type="text"><br>
				Image Length<input name="ImageLength" class="ifd_tags" type="text"><br>
				Bits Per Sample<input name="BitsPerSample" class="ifd_tags" type="text"><br>
				Compression<input name="Compression" class="ifd_tags" type="text"><br>
				Photometric Interpretation<input name="PhotometricInterpretation" class="ifd_tags" type="text"><br>
				Image Description<input name="ImageDescription" class="ifd_tags" type="text"><br>
				Make<input name="Make" class="ifd_tags" type="text"><br>
				Model<input name="Model" class="ifd_tags" type="text"><br>
				Strip Offsets<input name="StripOffsets" class="ifd_tags" type="text"><br>
				Orientation<input name="Orientation" class="ifd_tags" type="text"><br>
				Samples Per Pixel<input name="SamplesPerPixel" class="ifd_tags" type="text"><br>
				Rows Per String<input name="RowsPerString" class="ifd_tags" type="text"><br>
				StripByteCounts<input name="StripByteCounts" class="ifd_tags" type="text"><br>
				X Resolution<input name="Xresolution" class="ifd_tags" type="text"><br>
				Y Resolution<input name="Yresolution" class="ifd_tags" type="text"><br>
				Planar Configuration<input name="PlanarConfiguration" class="ifd_tags" type="text"><br>
				Resolution Unit<input name="ResolutionUnit" class="ifd_tags" type="text"><br>
				Transfer Function<input name="TransferFunction" class="ifd_tags" type="text"><br>
				Software<input name="Software" class="ifd_tags" type="text"><br>
				Date/Time<input name="DateTime" class="ifd_tags" type="text"><br>
				Artist<input name="Artist" class="ifd_tags" type="text"><br>
				White Point<input name="WhitePoint" class="ifd_tags" type="text"><br>
				Primary Chromaticities<input name="PrimaryChromaticities" class="ifd_tags" type="text"><br>
				JPEG Interchange Format<input name="JPEGInterchangeFormat" class="ifd_tags" type="text"><br>
				JPEGInterchangeFormatLength<input name="JPEGInterchangeFormatLength" class="ifd_tags" type="text"><br>
				Ycb Cr Coefficients<input name="YcbCrCoefficients" class="ifd_tags" type="text"><br>
				Ycb Cr SubSampling<input name="YcbCrSubSampling" class="ifd_tags" type="text"><br>
				Ycb Cr Positioning<input name="YcbCrPositionioning" class="ifd_tags" type="text"><br>
				Reference Black White<input name="ReferenceBlackWhite" class="ifd_tags" type="text"><br>
				Copyright<input name="Copyright" class="ifd_tags" type="text"><br>
			</fieldset>
		
			<fieldset>
				<legend>EXIF</legend>
				Exposure Time<input name="ExposureTime" class="exif_tags" type="text"><br>
				F Number<input name="FNumber" class="exif_tags" type="text"><br>
				Exposure Program<input name="ExposureProgram" class="exif_tags" type="text"><br>
				Spectral Sensitivity<input name="SpectralSensitivity" class="exif_tags" type="text"><br>
				aISOSpeedRatings<input name="aISOSpeedRatings" class="exif_tags" type="text"><br>
				OECF<input name="OECF" class="exif_tags" type="text"><br>
				Exif Version<input name="ExifVersion" class="exif_tags" type="text"><br>
				Date Time Original<input name="DateTimeOriginal" class="exif_tags" type="text"><br>
				Date Time Digitized<input name="DateTimeDigitized" class="exif_tags" type="text"><br>
				Components Configuration<input name="ComponentsConfiguration" class="exif_tags" type="text"><br>
				Compressed Bits Per Pixel<input name="CompressedBitsPerPixel" class="exif_tags" type="text"><br>
				ShutterSpeedValue<input name="ShutterSpeedValue" type="text"><br>
		ApertureValue<input type="text"><br>
		BrightnessValue<input type="text"><br>
		ExposureBiasValue<input type="text"><br>
		MaxApertureValue<input type="text"><br>
		SubjectDistance<input type="text"><br>
		MeteringMode<input type="text"><br>
		LightSource<input type="text"><br>
		Flash<input type="text"><br>
		FocalLength<input type="text"><br>
		SubjectArea<input type="text"><br>
		MakerNote<input type="text"><br>
		UserComment<input type="text"><br>
		SubSecTime<input type="text"><br>
		SubSecTimeOriginal<input type="text"><br>
		SubSecTimeDigitized<input type="text"><br>
		FlashpixVersion<input type="text"><br>
		ColorSpace<input type="text"><br>
		PixelXDimension<input type="text"><br>
		PixelYDimension<input type="text"><br>
		RelatedSoundFile<input type="text"><br>
		FlashEnergy<input type="text"><br>
		SpacialFrequencyResponse<input type="text"><br>
		FocalPlaneXResolution<input type="text"><br>
		FocalPlaneYResolution<input type="text"><br>
		FocalPlaneResolutionUnit<input type="text"><br>
		SubjectLocation<input type="text"><br>
		ExposureIndex<input type="text"><br>
		SensingMethod<input type="text"><br>
		FileSource<input type="text"><br>
		SceneType<input type="text"><br>
		CFAPattern<input type="text"><br>
		CustomRendered<input type="text"><br>
		ExposureMode<input type="text"><br>
		WhiteBalance<input type="text"><br>
		DigitalZoomRatio<input type="text"><br>
		FocalLengthIn35mmFilm<input type="text"><br>
		SceneCaptureType<input type="text"><br>
		GainControl<input type="text"><br>
		Contrast<input type="text"><br>
		Saturation<input type="text"><br>
		Sharpness<input type="text"><br>
		DeviceSettingDescription<input type="text"><br>
		SubjectDistanceRange<input type="text"><br>
		ImageUniqueID<input type="text"><br>
		</fieldset>
		<fieldset>
		<legend>GPS</legend>
		GPSVersionID<input type="text"><br>
		GPSLatitudeRef<input type="text"><br>
		GPSLatitude<input type="text"><br>
		GPSLongitudeRef<input type="text"><br>
		GPSLogitude<input type="text"><br>
		GPSAltitudeRef<input type="text"><br>
		GPSAltitude<input type="text"><br>
		GPSTimeStamp<input type="text"><br>
		GPSSatellites<input type="text"><br>
		GPSStatus<input type="text"><br>
		GPSMeasureMode<input type="text"><br>
		GPSDOP<input type="text"><br>
		GPSSpeedRef<input type="text"><br>
		GPSSpeed<input type="text"><br>
		GPSTrackRef<input type="text"><br>
		GPSTrack<input type="text"><br>
		GPSImgDirectionRef<input type="text"><br>
		GPSImgDirection<input type="text"><br>
		GPSMapDatum<input type="text"><br>
		GPSDestLatitudeRef<input type="text"><br>
		GPSDestLatitude<input type="text"><br>
		GPSDestLongitudeRef<input type="text"><br>
		GPSDestLongitude<input type="text"><br>
		GPSDestBearingRef<input type="text"><br>
		GPSDestBearing<input type="text"><br>
		GPSDestDistanceRef<input type="text"><br>
		GPSDestDistance<input type="text"><br>
		GPSProcessingMethod<input type="text"><br>
		GPSAreaInformation<input type="text"><br>
		GPSDateStamp<input type="text"><br>
		GPSDifferential<input type="text"><br>
		</fieldset>
		<fieldset>
		<legend>EINT</legend>
		InteroperabilityIndex<input type="text"><br>
		InteroperabilityVersion<input type="text"><br>
		RelatedImageFileFormat<input type="text"><br>
		RelatedImageWidth<input type="text"><br>
		RelatedImageLength<input type="text"><br>
		</fieldset>
		</fieldset>
</div>
