<fieldset><legend>Camera Status</legend><div id="camera_status"></div></fieldset>
<fieldset><legend>CPU Temperature</legend><div id="cpu_temperature"></div></fieldset>
<fieldset><legend>CPU Percent</legend><div id="cpu_percent"></div></fieldset>
<fieldset><legend>Platform Machine</legend><div id="platform_machine"></div></fieldset>
<fieldset><legend>Platform Version</legend><div id="platform_version"></div></fieldset>
<fieldset><legend>Platform System</legend><div id="platform_system"></div></fieldset>
<fieldset><legend>Platform Processor</legend><div id="platform_processor"></div></fieldset>
<fieldset>
	<legend>Storage</legend>
	<table>
		<tr>
			<th>Total</th>
			<th>Used</th>
			<th>Free</th>
			<th>Percent</th>
		</tr>
		<tr>
			<td id="storage_total"></td>
			<td id="storage_used"></td>
			<td id="storage_free"></td>
			<td id="storage_percent"></td>
		</tr>
	</table>
</fieldset>
