<fieldset><legend>Camera Status</legend><div id="camera_status"></div></fieldset>
<fieldset><legend>CPU Temperature</legend><div id="cpu_temperature"></div></fieldset>
<fieldset><legend>CPU Percent</legend><div id="cpu_percent"></div></fieldset>
<fieldset><legend>Platform Machine</legend><div id="platform_machine"></div></fieldset>
<fieldset><legend>Platform Version</legend><div id="platform_version"></div></fieldset>
<fieldset><legend>Platform System</legend><div id="platform_system"></div></fieldset>
<fieldset><legend>Platform Processor</legend><div id="platform_processor"></div></fieldset>
<fieldset><legend>Storage Total</legend><div id="storage_total"></div></fieldset>
<fieldset><legend>Storage Used</legend><div id="storage_used"></div></fieldset>
<fieldset><legend>Storage Free</legend><div id="storage_free"></div></fieldset>
<fieldset><legend>Storage Percent</legend><div id="storage_percent"></div></fieldset>
