<fieldset><legend>Camera Status</legend><div id="camera_status"></div></fieldset>
<fieldset><legend>CPU Temperature</legend><div id="cpu_temperature"></div></fieldset>
<fieldset><legend>CPU Load</legend><div id="cpu_load"></div></fieldset>
<fieldset><legend>Platform Machine</legend><div id="platform_machine"></div></fieldset>
<fieldset><legend>Platform Version</legend><div id="platform_version"></div></fieldset>
<fieldset><legend>Platform System</legend><div id="platform_system"></div></fieldset>
<fieldset><legend>Platform Processor</legend><div id="platform_processor"></div></fieldset>
