<!DOCTYPE html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(document).ready(
			function update() {
				$.get("http://localhost:8080/temp/", function(data) {
					$("#temperature").html(data);
					setTimeout(update, 1000)
				});
			}
			
			var video = document.getElementById('video');	
			
		)
		
		function monitor() {
			
		}
		
		function photography() {
			
		}
		
		function video() {
			
		}
		
		function system_info() {
			
		}
		
		function start_timelapse() {
			
		}
		
		function end_timelapse() {
			
		}
	</script>
	<style>
		
		body {
			font-family: "Trebuchet MS", Helvetica, sans-serif
		}
		
		.navigation_button_unselected {
			background-color: #2952a3;
			color: white;
			font-size: 16px;
			border: 1px solid #24478f;
			width: 25%;
			padding: 16px;
			margin-left: auto;
			margin-right: -5px;
		}
		
		.navigation_button_selected {
			background-color: white;
			color: #2952a3;
			font-size: 16px;
			border-top: 1px solid #24478f;
			border-left: 1px solid #24478f;
			border-right: 1px solid #24478f;
			border-bottom: 1px solid white;
			width: 25%;
			padding: 16px;
			margin-left: auto;
			margin-right: -5px;
		}
		
		#navigation_menu {
			width: 100%;
			background: gray;
		}
		
		.selector {

		}
		
		.main_panel {
			width:800px; 
			margin-left:auto; 
			margin-right:auto;
			background: white; 
		}
		
		body {
			background-color:#c4cdd4; 
			width:100%
		}
		
		form {
			width:800px;
			margin-left: auto;
			margin-right: auto;
		}
		
		li {
			background-color: black;
		}
	</style>
</head>
	<body>
		<div class="main_panel">
			<header>
				<h1>RasPiCam</h1>
			</header>
			<div id="navigation_menu">
				<button class="navigation_button_unselected" type="submit" onClick="monitor()">MONITOR</button>
				<button class="navigation_button_selected" type="submit" onClick="photography()">PHOTOGRAPHY</button>
				<button class="navigation_button_unselected" type="submit" onClick="video()">VIDEO</button>
				<button class="navigation_button_unselected" type="submit" onClick="system_info()">SYSTEM INFO</button>
			</div>
			<div style="padding: 10px">
				<h3>Camera status: </h3>
			<form action="">
				<ol type="1">
					<li>
						Shooting mode
						<input type="radio" class="selector" name="shooting_style" value="single" checked>Single
						<input type="radio" class="selector" name="shooting_style" value="yuv">YUV
						<input type="radio" class="selector" name="shooting_style" value="timelapse">Timelapse
					</li>
					<li>
						Resolution
						<select>
							<option value="2592x1944">2592 x 1944 (max)</option>
							<option value="2560x1920">2560 x 1920</option>
							<option value="2240x1680">2240 x 1680</option>
							<option value="2048x1536">2048 x 1536</option>
							<option value="1600x1200">1600 x 1200</option>
							<option value="1536x1180">1536 x 1180</option>
							<option value="1280x960">1280 x 960</option>
							<option value="1024x768">1024 x 768</option>
							<option value="800x600">800 x 600</option>
							<option value="640x480">640 x 480</option>
							<option value="320x240">320 x 240</option>
						</select>
					</li>
					<li>
						Encoding
						<select>
							<option value="jpg">JPG</option>
							<option value="gif">GIF</option>
							<option value="png">PNG</option>
							<option value="bmp">BMP</option>
						</select>
					</li>
					<li>
						Quality
						<input type="number" max="100" min="0" value="75" name="quality" style="width: 3em">
					</li>
					<li>
						Output filename
						<input type="text">
					</li>
					<li>
						Add raw Bayer data<input type="radio">
					</li>
					<li>
						Sharpness
						<input type="number" max="100" min="-100" value="0" name="sharpness" style="width: 4em">
					</li>
					<li>
						Contrast
						<input type="number" max="100" min="-100" value="0" name="contrast" style="width: 4em">
					</li>
					<li>
						Brightness
						<input type="number" max="100" min="0" value="50" name="brightness" style="width: 3em">
					</li>
					<li>
						Saturation
						<input type="number" max="100" min="-100" value="0" name="saturation" style="width: 4em">
					<li>
						ISO
						<input type="number" max="800" min="100" value="400" name="iso" style="width: 3em">
					</li>
					<li>
						Turn on video stabilization<input type="radio">
					</li>
					<li>
						EV Compensation
						<input type="number" max="10" min="-10" value="0" name="ev_compensation" style="width: 3em">
					</li>
					<li>
						Exposure mode
							<select>
								<option value="off">Off</option>
								<option value="auto">Auto</option>
								<option value="night">Night</option>
								<option value="backlight">Backlight</option>
								<option value="spotlight">Spotlight</option>
								<option value="sports">Sports</option>
								<option value="snow">Snow</option>
								<option value="beach">Beach</option>
								<option value="verylong">Very long</option>
								<option value="fixedfps">Fixed FPS</option>
								<option value="antishake">Anti-shake</option>
								<option value="fireworks">Fireworks</option>
							</select>
					</li>
					<li>
						Automatic white balance
							<select>
								<option value="off">Off</option>
								<option value="auto">Auto</option>
								<option value="sun">Sunny mode</option>
								<option value="cloudshade">Cloudy mode</option>
								<option value="tungsten">Tungsten lighting mode</option>
								<option value="flourescent">Flourescent lighting mode</option>
								<option value="incandescent">Incandescent lighting mode</option>
								<option value="flash">Flash mode</option>
								<option value="horizon">Horizon mode</option>
							</select>
					</li>
					<li>
						Image effects
							<select>
								<option value="none">None</option>
								<option value="negative">Negative</option>
								<option value="solarise">Solarise</option>
								<option value="whiteboard">Whiteboard</option>
								<option value="blackboard">Blackboard</option>
								<option value="sketch">Sketch-style effect</option>
								<option value="denoise">Denoise</option>
								<option value="emboss">Emboss</option>
								<option value="oilpaint">Oilpaint</option>
								<option value="hatch">Cross-hatch sketch style</option>
								<option value="gpen">Graphite sketch style</option>
								<option value="pastel">Pastel</option>
								<option value="watercolour">Watercolour</option>
								<option value="film">Grainy film effect</option>
								<option value="blur">Blur the image</option>
								<option value="saturation">Colour-saturate the image</option>
							</select>
					</li>
					<li>
						Set U:Y channels &nbsp U:<input type="number" max="255" min="0" value="0" name="u_channel" style="width: 3em"> Y:<input type="number" max="255" min="0" value="0" name="y_channel" style="width: 3em">
					</li>
					<li>
						Metering mode
							<input type="radio" class="metering" name="metering" value="average" checked>Average
							<input type="radio" class="metering" name="metering" value="spot">Spot
							<input type="radio" class="metering" name="metering" value="backlit">Backlit
							<input type="radio" class="metering" name="metering" value="matrix">Matrix
					</li>
					<li>
						Rotation and Orientation
							<input type="radio" class="rotation" name="rotation" value="0" checked>0
							<input type="radio" class="rotation" name="rotation" value="90">90
							<input type="radio" class="rotation" name="rotation" value="180">180
							<input type="radio" class="rotation" name="rotation" value="270">270
							<br>
							<input type="radio" class="vertical_flip" name="vertical_flip">Vertical flip
							<br>
							<input type="radio" class="horizontal_flip" name="horizontal_flip">Horizontal flip
							<br>
					</li>
				</ol>
			</form>
			</div>
		</div>
	</body>	
</html>
