<!DOCTYPE html>
<head>
	<script>
		
		var url = 'http://localhost:8080/';
		
		//Arrays of object names which will be invisible depending on the camera mode
		var yuv_options = ["tags_button","raw_button","encoding_button","quality_button","vstab_button","bitrate_button","framerate_button","timeout_button"];
		var still_options = ["vstab_button","framerate_button","bitrate_button","timeout_button"];
		var video_options = ["tags_button","raw_button","timelapse_button","quality_button"];
		
		function update() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
				i.innerHTML = xmlHttp.responseText;
				setTimeout(update, 1000);
				}
			}					
			xmlHttp.open("GET", 'http://localhost:8080/temp/');
			xmlHttp.send(null);
		}
		
		function monitor() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
				i.innerHTML = xmlHttp.responseText;
				setTimeout(update, 1000);
				}
			}					
			xmlHttp.open("GET", 'http://localhost:8080/temp/');
			xmlHttp.send(null);
		}
		
		function take_image() {
			var xmlHttp = new XMLHttpRequest();
			var params = document.getElementsByClassName("options");
			var sendToServer = "?mode=" + document.getElementById("camera_mode").value + "&";
			
			for(var i = 0; i < params.length; i++) {
				sendToServer = sendToServer + params[i].name + "=" + params[i].value + "&";
			}
			
			xmlHttp.open("POST", url+"take_image/"+sendToServer, true);

			xmlHttp.send(null);
		}
		
		function show_hide_options(pane) {
			var x = document.getElementById(pane);
			if(x.style.display === 'none') {
				x.style.display = 'block';
			} else {
				x.style.display = 'none';
			}
		}
		
		function switch_modes(mode) {	
			var options = null;
			if(mode==="still") {
				options = still_options;
				document.getElementById("shutter_button").innerHTML = "Take Image";
			} else if(mode==="video") {
				options = video_options;
				document.getElementById("shutter_button").innerHTML = "Record Video";
			} else if(mode==="yuv") {
				options = yuv_options;
				document.getElementById("shutter_button").innerHTML = "Reocrd Image";
			}

			var temp = document.querySelectorAll(".additional_camera_options");
			for(var i=0; i<temp.length; i++) {
				temp[i].style.display = 'block';
			}
			for(var i=0; i<options.length; i++) {
				document.getElementById(options[i]).style.display = 'none';
			}
		}
		
		function toggle_uv_mode(checked) {
			if(checked) {
				document.getElementById("u_channel").disabled = false;
				document.getElementById("y_channel").disabled = false;
				document.getElementById("encoding").disabled = true;
			} else {
				document.getElementById("u_channel").disabled = true;
				document.getElementById("y_channel").disabled = true;
				document.getElementById("encoding").disabled = false;
			}
		}
		
		function scale_aspect_ratio(axis, amount) {
			if(document.getElementById("aspect_ratio_lock").checked) {
				var ratio = document.getElementById("aspect_ratio").value;
				var width = ratio.split(":")[0];
				var height = ratio.split(":")[1];
				if(axis=="width") {
					document.getElementById("aspect_width").value = Math.round(amount * width / height);
				} else {
					document.getElementById("aspect_height").value = Math.round(amount * height / width);
				}
			}
		}
	</script>
	<style>
		
		body {
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			background-color:#c4cdd4;
			height: 100%;
		}
		
		form {
			width:800px;
			margin-left: auto;
			margin-right: auto;
		}
		
		header {
			background-color: #24478f;
			color: white;
		}
		
		select {
			width: 100%;
			border: none;
			padding: 5px;
			background-color: white;
		}
		
		option {
			font-size: 20px;
			text-align: center;
		}
		
		.navigation_button_unselected {
			background-color: #2952a3;
			color: white;
			font-size: 16px;
			border: 1px solid #24478f;
			width: 33.333%;
			padding: 16px;
			margin-left: 0px;
			margin-right: -4px;
		}
		
		.navigation_button_selected {
			background-color: white;
			color: #2952a3;
			font-size: 16px;
			border-top: 1px solid #24478f;
			border-left: 1px solid #24478f;
			border-right: 1px solid #24478f;
			border-bottom: 1px solid white;
			width: 33.333%;
			padding: 16px;
			margin-left: 0px;
			margin-right: -5px;
		}
		
		.shooting_modes #selected {
			width:25%;
			margin:-4px;
			background-color: gray;
			color: white;
			border-color: yellow;
		}
		
		.additional_camera_options, .camera_modes {
			width: 49.75%;
			background-color: #2952a3;
			color: white;
			font-size: 16px;
			border: 1px solid #24478f;
			padding: 16px;
			margin: 0%;
		}
		
		#camera_status {
			width: 50%;
			height: 100%;
			border: 1px solid black;
			display: inline-block;
			clear: both;
			margin-left: -5px;
			margin-right: -5px;
			vertical-align: top;
			padding-left: 5px;
		}
		
		#main_panel {
			width:800px;
			min-height: 100%;
			margin-left:auto; 
			margin-right:auto;
			background: white;		
		}
		
		#navigation_menu {
			width: 100%;
			background: gray;
		}
		
		#shutter_button {
			width: 20%;
			height: 100px;
			position: static;
			margin-right: 0;
			margin-left: 50px;
		}
		
		#output {
			margin-left:auto;
			margin-right:auto;
			width: 100%;
			border: 1px solid black;
		}
		
	</style>
</head>
	<body>
		<div id="main_panel">
			<header>
				<h1 id="header">RasPiCam</h1>
			</header>
			
			<div id="navigation_menu">
				<button class="navigation_button_unselected" type="submit" onClick="monitor()">MONITOR</button>
				<button class="navigation_button_selected" type="submit" onClick="photography()">CAMERA</button>
				<button class="navigation_button_unselected" type="submit" onClick="system_info()">SYSTEM INFO</button>
			</div>
			
			<div id="output">
				Output filename
				<input type="text">
				<button id="shutter_button" onClick="take_image()">Take Image</button>
			</div>
			
			<div id="selection_pane">
				<div id="camera_options">
				<button type="button" class="camera_modes" onClick="show_hide_options(camera_modes_pane.id)">Camera Mode</button>
				<div style="display:none;" id="camera_modes_pane">
					<select id="camera_mode" class="mode" onchange="switch_modes(this.value)">
						<option id="still" value="still">Still Capture</option>
						<option id="video" value="video">Video Capture</option>
						<option id="yuv" value="yuv">YUV Capture</option>
					</select>
				</div>
				<button type="button"  id="resolution_button" class="additional_camera_options" onClick="show_hide_options(resolution_pane.id)">Resolution</button>
				<div style="display:none;" id="resolution_pane">
					Width<input type="number" id="aspect_width" name="width" class="options" max="2592" min="320" value="1920" onchange="scale_aspect_ratio('height', this.value)" style="width: 6em">
					Height<input type="number" id="aspect_height" name="height" class="options" max="1944" min="240" value="1080" onchange="scale_aspect_ratio('width', this.value)" style="width: 6em"><br>
					Lock<input type="checkbox" id="aspect_ratio_lock" value="off"><br>
					Aspect Ratio
					<select id="aspect_ratio">
						<option value="4:3">4:3</option>
						<option value="3:2">3:2</option>
						<option value="5:4">5:4</option>
						<option value="3:1">3:1</option>
						<option value="16:9">16:9</option>
					</select>
					<select name="resolution">
						<option value="2592x1944">2592 x 1944 (max)</option>
						<option value="2560x1920">2560 x 1920</option>
						<option value="2240x1680">2240 x 1680</option>
						<option value="2048x1536">2048 x 1536</option>
						<option value="1600x1200">1600 x 1200</option>
						<option value="1536x1180">1536 x 1180</option>
						<option value="1280x960">1280 x 960</option>
						<option value="1024x768">1024 x 768</option>
						<option value="800x600">800 x 600</option>
						<option value="640x480">640 x 480</option>
						<option value="320x240">320 x 240</option>
					</select>
				</div>
				<button class="additional_camera_options" id="encoding_button" onClick="show_hide_options(encoding_pane.id)">Encoding</button>
				<div style="display:none;" id="encoding_pane">
					<select name="encoding" class="options">
						<option value="jpg">JPG</option>
						<option value="gif">GIF</option>
						<option value="png">PNG</option>
						<option value="bmp">BMP</option>
					</select>
				</div>
				<button class="additional_camera_options" id="quality_button" onClick="show_hide_options(quality_pane.id)">Quality</button>
				<div style="display:none;" id="quality_pane">
					<input type="number" name="quality" class="options" max="100" min="0" value="75" style="width: 3em">
				</div>
				<button class="additional_camera_options" id="raw_button" onClick="show_hide_options(bayer_data.id)">Bayer Data</button>
				<div style="display:none;" id="bayer_data">
					Add raw Bayer data<input type="checkbox" name="raw" class="options">
				</div>
				<button class="additional_camera_options" id="sharpness_button" onClick="show_hide_options(sharpness.id)">Sharpess</button>
				<div style="display:none;" id="sharpness">
					<input type="number" name="sharpness" max="100" min="-100" value="0" style="width: 4em">
				</div>
				<button class="additional_camera_options" id="contrast_cutton" onClick="show_hide_options(contrast.id)">Contrast</button>
				<div style="display:none;" id="contrast">
					<input type="number" name="contrast" max="100" min="-100" value="0" style="width: 4em">
				</div>
				<button class="additional_camera_options" id="brightness_button" onClick="show_hide_options(brightness.id)">Brightness</button>
				<div style="display:none;" id="brightness">
					<input type="number" name="brightness" max="100" min="0" value="50" style="width: 3em">
				</div>
				<button class="additional_camera_options" id="saturation_button" onClick="show_hide_options(saturation.id)">Saturation</button>
				<div style="display:none;" id="saturation">
					<input type="number" name="saturation" max="100" min="-100" value="0" style="width: 4em">
				</div>
				<button class="additional_camera_options" id="iso_button" onClick="show_hide_options(iso.id)">ISO</button>
				<div style="display:none;" id="iso">
					<input type="number" name="ISO" max="800" min="100" value="400" style="width: 3em">
				</div>
				<button id="vstab_button" class="additional_camera_options" onClick="vid_stab.id">Video Stabilization</button>
				<div style="display:none;" id="vid_stab">
					Turn on video stabilization<input type="checkbox" name="--vstab">
				</div>
				<button class="additional_camera_options" id="ev_compensation_button" onClick="show_hide_options(ev_comp.id)">EV Compensation</button>
				<div style="display:none;" id="ev_comp">
					<input type="number" name="ev" max="10" min="-10" value="0" style="width: 3em">
				</div>
				<button class="additional_camera_options" id="framerate_button" onClick="show_hide_options(fps_pane.id)">Framerate</button>
				<div style="display:none;" id="fps_pane">
					<input type="number" name="fps" max="30" min="2" value="25" style="width: 3em">
				</div>
				<button class="additional_camera_options" id="timeout_button" onClick="show_hide_options(timeout_pane.id)">Timeout</button>
				<div style="display:none;" id="timeout_pane">
					<input type="number" name="timeout" max="30" min="2" value="25" style="width: 3em">
				</div>
				<button class="additional_camera_options" id="bitrate_button" onClick="show_hide_options(bitrate_pane.id)">Bitrate</button>
				<div style="display:none;" id="bitrate_pane">
					<input type="number" name="bitrate" max="30" min="2" value="25" style="width: 3em">
				</div>
				<button class="additional_camera_options" id="exposure_mode_button" onClick="show_hide_options(exposure_pane.id)">Exposure Mode</button>
				<div style="display:none;" id="exposure_pane">
					<select name="exposure" class="options">
						<option value="off">Off</option>
						<option value="auto">Auto</option>
						<option value="night">Night</option>
						<option value="backlight">Backlight</option>
						<option value="spotlight">Spotlight</option>
						<option value="sports">Sports</option>
						<option value="snow">Snow</option>
						<option value="beach">Beach</option>
						<option value="verylong">Very long</option>
						<option value="fixedfps">Fixed FPS</option>
						<option value="antishake">Anti-shake</option>
						<option value="fireworks">Fireworks</option>
					</select>
				</div>
				<button class="additional_camera_options" id="aws_button" onClick="show_hide_options(aws.id)">Automatic White Balance</button>
				<div style="display:none;" id="aws">
					<select name="aws" class="options">
						<option value="off">Off</option>
						<option value="auto">Auto</option>
						<option value="sun">Sunny mode</option>
						<option value="cloudshade">Cloudy mode</option>
						<option value="tungsten">Tungsten lighting mode</option>
						<option value="flourescent">Flourescent lighting mode</option>
						<option value="incandescent">Incandescent lighting mode</option>
						<option value="flash">Flash mode</option>
						<option value="horizon">Horizon mode</option>
					</select>
				</div>
				<button class="additional_camera_options" id="imgfx_button" onClick="show_hide_options(imfx.id)">Image Effects</button>
				<div style="display:none;" id="imfx">
					<select name="imxfx" class="options">
						<option value="none">None</option>
						<option value="negative">Negative</option>
						<option value="solarise">Solarise</option>
						<option value="whiteboard">Whiteboard</option>
						<option value="blackboard">Blackboard</option>
						<option value="sketch">Sketch-style effect</option>
						<option value="denoise">Denoise</option>
						<option value="emboss">Emboss</option>
						<option value="oilpaint">Oilpaint</option>
						<option value="hatch">Cross-hatch sketch style</option>
						<option value="gpen">Graphite sketch style</option>
						<option value="pastel">Pastel</option>
						<option value="watercolour">Watercolour</option>
						<option value="film">Grainy film effect</option>
						<option value="blur">Blur the image</option>
						<option value="saturation">Colour-saturate the image</option>
					</select>
				</div>
				<button class="additional_camera_options" id="colour_effect_button" onClick="show_hide_options(uv_mode.id)">Colour Effect</button>
				<div style="display:none;" id="uv_mode">
					Set camera to UV mode<input type="checkbox" class="uv_mode" name="uv_mode" onclick="toggle_uv_mode(this.checked)"><br>
					Set U:Y channels &nbsp U:<input type="number" class="options" max="255" min="0" value="0" id="u_channel" style="width: 3em" disabled> Y:<input type="number" max="255" min="0" value="0" id="y_channel" style="width: 3em" disabled>
				</div>
				<button class="additional_camera_options" id="mm_button" onClick="show_hide_options(meter_mode.id)">Metering Mode</button>
				<div style="display:none;" id="meter_mode">
					<select name="metering" class="options">
						<option value="average">Average</option>
						<option value="spot">Spot</option>
						<option value="backlit">Backlit</option>
						<option value="matrix">Matrix</option>
					</select>
				</div>
				<button class="additional_camera_options" id="rao_button" onClick="show_hide_options(rot_or.id)">Rotation & Orientation</button>
				<div style="display:none;" id="rot_or">
					Rotation:
					<select name="rotation" class="options">
						<option value="0">0</option>
						<option value="90">90</option>
						<option value="180">180</option>
						<option value="270">270</option>
					</select>
					Flip:
					Vertical<input type="checkbox" name="--vflip" class="options">
					Horizontal<input type="checkbox" name="--hflip" class="options">
				</div>
				<button class="additional_camera_options" id="timelapse_button" onClick="show_hide_options(timelapse_pane.id)">Timelapse</button>
				<div style="display:none;" id="timelapse_pane">
					<checkbox onChange="">
					Interval: <input type="number" value="1" min="0" max="100"><br>
					Time unit:
						<select>
							<option>Seconds</option>
							<option>Minutes</option>
							<option>Hours</option>
						</select>
				</div>
				<button class="additional_camera_options" id="roi_button" onClick="show_hide_options(roi_pane.id)">Region of Interest</button>
				<div style="display:none;" id="roi_pane">
					Coming Soon!
				</div>
				<button class="additional_camera_options" id="tags_button" onClick="show_hide_options(tags.id)">Tags</button>
				<div style="display:none;" id="tags">
					<fieldset>
					<legend>IFD</legend>
					ImageWidth<input type="text"><br>
					ImageLength<input type="text"><br>
					BitsPerSample<input type="text"><br>
					Compression<input type="text"><br>
					PhotometricInterpretation<input type="text"><br>
					ImageDescription<input type="text"><br>
					Make<input type="text"><br>
					Model<input type="text"><br>
					StripOffsets<input type="text"><br>
					Orientation<input type="text"><br>
					SamplesPerPixel<input type="text"><br>
					RowsPerString<input type="text"><br>
					StripByteCounts<input type="text"><br>
					Xresolution<input type="text"><br>
					Yresolution<input type="text"><br>
					PlanarConfiguration<input type="text"><br>
					ResolutionUnit<input type="text"><br>
					TransferFunction<input type="text"><br>
					Software<input type="text"><br>
					DateTime<input type="text"><br>
					Artist<input type="text"><br>
					WhitePoint<input type="text"><br>
					PrimaryChromaticities<input type="text"><br>
					JPEGInterchangeFormat<input type="text"><br>
					JPEGInterchangeFormatLength<input type="text"><br>
					YcbCrCoefficients<input type="text"><br>
					YcbCrSubSampling<input type="text"><br>
					YcbCrPositioning<input type="text"><br>
					ReferenceBlackWhite<input type="text"><br>
					Copyright<input type="text"><br>
					</fieldset>
					<fieldset>
					<legend>EXIF</legend>
					ExposureTime<input type="text"><br>
					FNumber<input type="text"><br>
					ExposureProgram<input type="text"><br>
					SpectralSensitivity<input type="text"><br>
					aISOSpeedRatings<input type="text"><br>
					OECF<input type="text"><br>
					ExifVersion<input type="text"><br>
					DateTimeOriginal<input type="text"><br>
					DateTimeDigitized<input type="text"><br>
					ComponentsConfiguration<input type="text"><br>
					CompressedBitsPerPixel<input type="text"><br>
					ShutterSpeedValue<input type="text"><br>
					ApertureValue<input type="text"><br>
					BrightnessValue<input type="text"><br>
					ExposureBiasValue<input type="text"><br>
					MaxApertureValue<input type="text"><br>
					SubjectDistance<input type="text"><br>
					MeteringMode<input type="text"><br>
					LightSource<input type="text"><br>
					Flash<input type="text"><br>
					FocalLength<input type="text"><br>
					SubjectArea<input type="text"><br>
					MakerNote<input type="text"><br>
					UserComment<input type="text"><br>
					SubSecTime<input type="text"><br>
					SubSecTimeOriginal<input type="text"><br>
					SubSecTimeDigitized<input type="text"><br>
					FlashpixVersion<input type="text"><br>
					ColorSpace<input type="text"><br>
					PixelXDimension<input type="text"><br>
					PixelYDimension<input type="text"><br>
					RelatedSoundFile<input type="text"><br>
					FlashEnergy<input type="text"><br>
					SpacialFrequencyResponse<input type="text"><br>
					FocalPlaneXResolution<input type="text"><br>
					FocalPlaneYResolution<input type="text"><br>
					FocalPlaneResolutionUnit<input type="text"><br>
					SubjectLocation<input type="text"><br>
					ExposureIndex<input type="text"><br>
					SensingMethod<input type="text"><br>
					FileSource<input type="text"><br>
					SceneType<input type="text"><br>
					CFAPattern<input type="text"><br>
					CustomRendered<input type="text"><br>
					ExposureMode<input type="text"><br>
					WhiteBalance<input type="text"><br>
					DigitalZoomRatio<input type="text"><br>
					FocalLengthIn35mmFilm<input type="text"><br>
					SceneCaptureType<input type="text"><br>
					GainControl<input type="text"><br>
					Contrast<input type="text"><br>
					Saturation<input type="text"><br>
					Sharpness<input type="text"><br>
					DeviceSettingDescription<input type="text"><br>
					SubjectDistanceRange<input type="text"><br>
					ImageUniqueID<input type="text"><br>
					</fieldset>
					<fieldset>
					<legend>GPS</legend>
					GPSVersionID<input type="text"><br>
					GPSLatitudeRef<input type="text"><br>
					GPSLatitude<input type="text"><br>
					GPSLongitudeRef<input type="text"><br>
					GPSLogitude<input type="text"><br>
					GPSAltitudeRef<input type="text"><br>
					GPSAltitude<input type="text"><br>
					GPSTimeStamp<input type="text"><br>
					GPSSatellites<input type="text"><br>
					GPSStatus<input type="text"><br>
					GPSMeasureMode<input type="text"><br>
					GPSDOP<input type="text"><br>
					GPSSpeedRef<input type="text"><br>
					GPSSpeed<input type="text"><br>
					GPSTrackRef<input type="text"><br>
					GPSTrack<input type="text"><br>
					GPSImgDirectionRef<input type="text"><br>
					GPSImgDirection<input type="text"><br>
					GPSMapDatum<input type="text"><br>
					GPSDestLatitudeRef<input type="text"><br>
					GPSDestLatitude<input type="text"><br>
					GPSDestLongitudeRef<input type="text"><br>
					GPSDestLongitude<input type="text"><br>
					GPSDestBearingRef<input type="text"><br>
					GPSDestBearing<input type="text"><br>
					GPSDestDistanceRef<input type="text"><br>
					GPSDestDistance<input type="text"><br>
					GPSProcessingMethod<input type="text"><br>
					GPSAreaInformation<input type="text"><br>
					GPSDateStamp<input type="text"><br>
					GPSDifferential<input type="text"><br>
					</fieldset>
					<fieldset>
					<legend>EINT</legend>
					InteroperabilityIndex<input type="text"><br>
					InteroperabilityVersion<input type="text"><br>
					RelatedImageFileFormat<input type="text"><br>
					RelatedImageWidth<input type="text"><br>
					RelatedImageLength<input type="text"><br>
					</fieldset>
				</div>
		</div>
	</body>	
</html>
