<div id="output_pane">
	<table>
		<tr>
			<td style="text-align: left; display: table-row;">
					<fieldset>
						<legend>Output Filename</legend>
						<input id="output" name="-o" type="text">
					</fieldset>
					<div style="display:none" id="output_session_title">
						<fieldset>
						<legend>Session Title</legend>
						<input id="output_session">
						</fieldset>
					</div>
					<fieldset>
						<legend>Camera Mode</legend>
						<select id="camera_mode" class="mode" onchange="switch_camera_modes(this.value)">
							<option id="still" value="raspistill">Still Capture</option>
							<option id="video" value="raspivid">Video Capture</option>
							<option id="yuv" value="raspiyuv">YUV Capture</option>
						</select>
					</fieldset>
			</td>
			<td style="text-align: left;">
				<button id="shutter_button" onClick="take_image()">Take Image</button>
			</td>
		</tr>
	</table>
</div>
