<!DOCTYPE html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(document).ready(
			function update() {
				$.get("http://localhost:8080/temp/", function(data) {
					$("#temperature").html(data);
					setTimeout(update, 1000)
				});
			}
			
			var video = document.getElementById('video');
			
			
		)
		
		function monitor() {
			
		}
		
		function photography() {
			
		}
		
		function video() {
			
		}
		
		function system_info() {
			
		}
		
		function change_page(url, callback) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
					callback(xmlHttp.responseText);
			}
			xmlHttp.open("GET", url, true);
			xmlHttp.send(null);
		}
	</script>
	<style>
		.navigation_button {
			background-color: #2952a3;
			color: white;
			font-size: 16px;
			border: 1px solid #24478f;
			width: 25%;
			padding: 16px;
			margin-left: auto;
			margin-right: -5px;
		}
		
		#navigation_menu {
			width: 100%;
			background: gray;
		}
		
		.main_panel {
			width:800px; 
			margin-left:auto; 
			margin-right:auto; 
			background: black;
		}
		
		body {
			background-color:#c4cdd4; 
			width:100%
		}
	</style>
</head>
	<body>
		<div class="main_panel">
			<div id="navigation_menu">
				<button class="navigation_button" value="monitor" onClick="change_page(this)">MONITOR</button>
				<button class="navigation_button" value="photography" onClick="change_page(this)">PHOTOGRAPHY</button>
				<button class="navigation_button" value="video" onClick="change_page(this)">VIDEO</button>
				<button class="navigation_button" value="system_info" onClick="change_page(this)">SYSTEM INFO</button>
			</div>
			<video id="video_stream" width="320" height="240" autoplay></video>
		</div>
	</body>	
</html>
