body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color:#c4cdd4;
	height: 100%;
}
		
form {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}
		
header {
	background-color: #1a3365;
	height: 100px;
	color: white;
}
		
select {
	width: 100%;
	border: none;
	padding: 5px;
	background-color: white;
}
		
option {
	font-size: 20px;
	text-align: center;
}

table {
	width: 100%;
}

table, th, td {
	border-collapse: collapse;
}
		
th, td {
	text-align: center;
}

.navigation_button[value=unselected] {
	background-color: #2952a3;
	color: white;
	font-size: 16px;
	border: 1px solid #24478f;
	width: 100%;
}
		
.navigation_button[value=selected] {
	background-color: white;
	color: #2952a3;
	font-size: 16px;
	border-top: 1px solid #24478f;
	border-left: 1px solid #24478f;
	border-right: 1px solid #24478f;
	border-bottom: 1px solid white;
	width: 100%;
}
		
.shooting_modes #selected {
	width:25%;
	margin:-4px;
	background-color: gray;
	color: white;
	border-color: yellow;
}
		
.additional_camera_options, .camera_modes {
	width: auto;
	background-color: #2952a3;
	color: white;
	font-size: 16px;
	border: 1px solid #24478f;
	padding: 16px;
	margin: 0%;
}
	
#camera_status {
	width: 50%;
	height: 100%;
	display: inline-block;
	clear: both;
	margin-left: -5px;
	margin-right: -5px;
	vertical-align: top;
	padding-left: 5px;
}
		
#main_panel {
	width:800px;
	min-height: 100%;
	margin-left:auto; 
	margin-right:auto;
	background: white;		
}
		
#navigation_menu {
	width: 100%;
	background: #1a3365;
}
		
#shutter_button {
	width: 400px;
	height: 200px;
	font-size: 24px;
	color: white;
	background-color: #2952a3;
	border: 5px solid black;
	margin: auto;
	padding: auto;
}

#shutter_button:disabled {
	width: 400px;
	height: 200px;
	font-size: 24px;
	color: white;
	background-color: #525f7a;
	border: 5px solid #cccccc;
	margin: auto;
}

#abort_button {
	width: 100%;
	height: 200px;
	font-size: 24px;
	color: white;
	background-color: #cc0000;
	border: 5px solid black;
	margin: auto;
	padding: auto;
}
