<!DOCTYPE html>
<body>
			<fieldset>
				<legend>IFD</legend>
				Image Width<input name="ImageWidth" class="ifd_tags" type="text"><br>
				Image Length<input name="ImageLength" class="ifd_tags" type="text"><br>
				Bits Per Sample<input name="BitsPerSample" class="ifd_tags" type="text"><br>
				Compression<input name="Compression" class="ifd_tags" type="text"><br>
				Photometric Interpretation<input name="PhotometricInterpretation" class="ifd_tags" type="text"><br>
				Image Description<input name="ImageDescription" class="ifd_tags" type="text"><br>
				Make<input name="Make" class="ifd_tags" type="text"><br>
				Model<input name="Model" class="ifd_tags" type="text"><br>
				Strip Offsets<input name="StripOffsets" class="ifd_tags" type="text"><br>
				Orientation<input name="Orientation" class="ifd_tags" type="text"><br>
				Samples Per Pixel<input name="SamplesPerPixel" class="ifd_tags" type="text"><br>
				Rows Per String<input name="RowsPerString" class="ifd_tags" type="text"><br>
				StripByteCounts<input name="StripByteCounts" class="ifd_tags" type="text"><br>
				X Resolution<input name="Xresolution" class="ifd_tags" type="text"><br>
				Y Resolution<input name="Yresolution" class="ifd_tags" type="text"><br>
				Planar Configuration<input name="PlanarConfiguration" class="ifd_tags" type="text"><br>
				Resolution Unit<input name="ResolutionUnit" class="ifd_tags" type="text"><br>
				Transfer Function<input name="TransferFunction" class="ifd_tags" type="text"><br>
				Software<input name="Software" class="ifd_tags" type="text"><br>
				Date/Time<input name="DateTime" class="ifd_tags" type="text"><br>
				Artist<input name="Artist" class="ifd_tags" type="text"><br>
				White Point<input name="WhitePoint" class="ifd_tags" type="text"><br>
				Primary Chromaticities<input name="PrimaryChromaticities" class="ifd_tags" type="text"><br>
				JPEG Interchange Format<input name="JPEGInterchangeFormat" class="ifd_tags" type="text"><br>
				JPEGInterchangeFormatLength<input name="JPEGInterchangeFormatLength" class="ifd_tags" type="text"><br>
				Ycb Cr Coefficients<input name="YcbCrCoefficients" class="ifd_tags" type="text"><br>
				Ycb Cr SubSampling<input name="YcbCrSubSampling" class="ifd_tags" type="text"><br>
				Ycb Cr Positioning<input name="YcbCrPositionioning" class="ifd_tags" type="text"><br>
				Reference Black White<input name="ReferenceBlackWhite" class="ifd_tags" type="text"><br>
				Copyright<input name="Copyright" class="ifd_tags" type="text"><br>
			</fieldset>
		
			<fieldset>
				<legend>EXIF</legend>
				Exposure Time<input name="ExposureTime" class="exif_tags" type="text"><br>
				F Number<input name="FNumber" class="exif_tags" type="text"><br>
				Exposure Program<input name="ExposureProgram" class="exif_tags" type="text"><br>
				Spectral Sensitivity<input name="SpectralSensitivity" class="exif_tags" type="text"><br>
				aISOSpeedRatings<input name="aISOSpeedRatings" class="exif_tags" type="text"><br>
				OECF<input name="OECF" class="exif_tags" type="text"><br>
				Exif Version<input name="ExifVersion" class="exif_tags" type="text"><br>
				Date Time Original<input name="DateTimeOriginal" class="exif_tags" type="text"><br>
				Date Time Digitized<input name="DateTimeDigitized" class="exif_tags" type="text"><br>
				Components Configuration<input name="ComponentsConfiguration" class="exif_tags" type="text"><br>
				Compressed Bits Per Pixel<input name="CompressedBitsPerPixel" class="exif_tags" type="text"><br>
				ShutterSpeedValue<input name="ShutterSpeedValue" type="text"><br>
				ApertureValue<input type="text"><br>
				BrightnessValue<input type="text"><br>
				ExposureBiasValue<input type="text"><br>
				MaxApertureValue<input type="text"><br>
				SubjectDistance<input type="text"><br>
				MeteringMode<input type="text"><br>
				LightSource<input type="text"><br>
				Flash<input type="text"><br>
				FocalLength<input type="text"><br>
				SubjectArea<input type="text"><br>
				MakerNote<input type="text"><br>
				UserComment<input type="text"><br>
				SubSecTime<input type="text"><br>
				SubSecTimeOriginal<input type="text"><br>
				SubSecTimeDigitized<input type="text"><br>
				FlashpixVersion<input type="text"><br>
				ColorSpace<input type="text"><br>
				PixelXDimension<input type="text"><br>
				PixelYDimension<input type="text"><br>
				RelatedSoundFile<input type="text"><br>
				FlashEnergy<input type="text"><br>
				SpacialFrequencyResponse<input type="text"><br>
				FocalPlaneXResolution<input type="text"><br>
				FocalPlaneYResolution<input type="text"><br>
				FocalPlaneResolutionUnit<input type="text"><br>
				SubjectLocation<input type="text"><br>
				ExposureIndex<input type="text"><br>
				SensingMethod<input type="text"><br>
				FileSource<input type="text"><br>
				SceneType<input type="text"><br>
				CFAPattern<input type="text"><br>
				CustomRendered<input type="text"><br>
				ExposureMode<input type="text"><br>
				WhiteBalance<input type="text"><br>
				DigitalZoomRatio<input type="text"><br>
				FocalLengthIn35mmFilm<input type="text"><br>
				SceneCaptureType<input type="text"><br>
				GainControl<input type="text"><br>
				Contrast<input type="text"><br>
				Saturation<input type="text"><br>
				Sharpness<input type="text"><br>
				DeviceSettingDescription<input type="text"><br>
				SubjectDistanceRange<input type="text"><br>
				ImageUniqueID<input type="text"><br>
			</fieldset>
			<fieldset>
				<legend>GPS</legend>
				GPSVersionID<input type="text"><br>
				GPSLatitudeRef<input type="text"><br>
				GPSLatitude<input type="text"><br>
				GPSLongitudeRef<input type="text"><br>
				GPSLogitude<input type="text"><br>
				GPSAltitudeRef<input type="text"><br>
				GPSAltitude<input type="text"><br>
				GPSTimeStamp<input type="text"><br>
				GPSSatellites<input type="text"><br>
				GPSStatus<input type="text"><br>
				GPSMeasureMode<input type="text"><br>
				GPSDOP<input type="text"><br>
				GPSSpeedRef<input type="text"><br>
				GPSSpeed<input type="text"><br>
				GPSTrackRef<input type="text"><br>
				GPSTrack<input type="text"><br>
				GPSImgDirectionRef<input type="text"><br>
				GPSImgDirection<input type="text"><br>
				GPSMapDatum<input type="text"><br>
				GPSDestLatitudeRef<input type="text"><br>
				GPSDestLatitude<input type="text"><br>
				GPSDestLongitudeRef<input type="text"><br>
				GPSDestLongitude<input type="text"><br>
				GPSDestBearingRef<input type="text"><br>
				GPSDestBearing<input type="text"><br>
				GPSDestDistanceRef<input type="text"><br>
				GPSDestDistance<input type="text"><br>
				GPSProcessingMethod<input type="text"><br>
				GPSAreaInformation<input type="text"><br>
				GPSDateStamp<input type="text"><br>
				GPSDifferential<input type="text"><br>
			</fieldset>
			<fieldset>
				<legend>EINT</legend>
				InteroperabilityIndex<input type="text"><br>
				InteroperabilityVersion<input type="text"><br>
				RelatedImageFileFormat<input type="text"><br>
				RelatedImageWidth<input type="text"><br>
				RelatedImageLength<input type="text"><br>
			</fieldset>
</body>
</html>
