<!DOCTYPE html>
<head>
	<script>

		//The server IP
		//Should change this so that the server injects the proper IP
		//into the page depending on how the call is made to the server
		var server_url = '192.168.1.21';
		
		//The port which the server is listening on
		var server_port = ':8080';
		
		//The above information compiled into a usable url
		var url = 'http://' + server_url + server_port + '/';

		//Array with object names relating to options for still images
		var still = [	"aspect_width",
						"aspect_height",
						"encoding",
						"sharpness",
						"contrast",
						"brightness",
						"saturation",
						"iso",
						"ev",
						"exposure",
						"aws",
						"imxfx",
						"metering",
						"rotation",
						"vflip",
						"hflip",
						"raw",
						"timelapse_enabled",
						"timelapse_interval",
						"timelapse_time_unit",
						"session_title",
						"subfolder_naming",
						"output" ];
					
		//Array with object names relating to options to YUV images
		var yuv = [	"aspect_width",
					"aspect_height",
					"sharpness",
					"contrast",
					"brightness",
					"saturation",
					"iso",
					"ev",
					"exposure",
					"awb","imxfx",
					"metering",
					"rotation",
					"hflip",
					"vflip" ];
					
		//Array with object names relating to options for video capture
		var video = [	"aspect_width",
						"aspect_height",
						"vstab",
						"sharpness",
						"contrast",
						"brightness",
						"saturation",
						"iso",
						"ev",
						"exposure",
						"aws",
						"imxfx",
						"metering",
						"rotation",
						"vflip",
						"hflip",
						"bitrate",
						"fps",
						"intra" ];

		/* Function for compiling the page and sending the options to the server */
		function take_image() {
			
			//Check to see that the user has supplied an output name
			if(document.getElementById("output").value==="") {
				alert("Need an output file name");
				return;
			}
			//Check to see if the user has enabled timelapse mode AND has supplied a session name
			if(document.getElementById("timelapse_enabled").checked && document.getElementById("session_title").value==="") {
				alert("Need an output session name");
				return;
			}
			
			document.getElementById("shutter_button").disabled = true;
			document.getElementById("shutter_button").innerHTML = "Starting..."
			
			var xmlHttp = new XMLHttpRequest();
			var params = [];
			var sendToServer = "?" + document.getElementById("camera_mode").value + "&";
			
			if(document.getElementById("camera_mode").value==="raspistill") {
				params = still;
			} else if(document.getElementById("camera_mode").value==="raspivid") {
				params = video;
			} else {
				params = yuv;
			}
			
			for(var i = 0; i < params.length; i++) {
				if(document.getElementById(params[i]).type==="checkbox") {
					if(document.getElementById(params[i]).checked) {
						sendToServer = sendToServer + document.getElementById(params[i]).name;
					}
					if(params[i]==="timelapse_enabled") {
						sendToServer = sendToServer + "=" + document.getElementById(params[i]).checked + "&";
					} else {
						sendToServer += "&";
					}
				} else {
					sendToServer = sendToServer + document.getElementById(params[i]).name + "=" + document.getElementById(params[i]).value + "&";
					if(document.getElementById(params[i]).value==="jpg") {
						sendToServer = sendToServer + "--quality=" + document.getElementById("quality").value + "&";
					} 
				}
			}
			
			
			xmlHttp.onreadystatechange = function() {
				if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					switch_modes('running_camera');
				}
			}
			
			xmlHttp.open("POST", url+'start_sequence/'+sendToServer, true);

			xmlHttp.send(null);
		}

		window.onload = function() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					document.getElementById("selection_pane").innerHTML = xmlHttp.responseText;
					retrieve();
				}
			};
			xmlHttp.open("GET", url + 'views/monitor/');
			xmlHttp.send(null);
		}
		
		function update() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
				i.innerHTML = xmlHttp.responseText;
				setTimeout(update, 1000);
				}
			}					
			xmlHttp.open("GET", url + 'temp/');
			xmlHttp.send(null);
		}
		
		function show_hide_options(pane) {
			var x = document.getElementById(pane);
			if(x.style.display === 'none') {
				x.style.display = 'block';
			} else {
				x.style.display = 'none';
			}
		}
		
	//Arrays of object names which will be invisible depending on the camera mode
	var yuv_options = ["tags_pane","bayer_data_pane","encoding_pane","quality_pane","vid_stab_pane","bitrate_pane","framerate_pane","timeout_pane"];
	var still_options = ["vid_stab_pane","framerate_pane","bitrate_pane","timeout_pane"];
	var video_options = ["tags_pane","bayer_data_pane","timelapse_pane","quality_pane","encoding_pane"];
	
	var monitor_data_points = [	"camera_status",
								"cpu_temperature",
								"cpu_percent",
								"platform_machine",
								"platform_version",
								"platform_system",
								"storage_total",
								"storage_used",
								"storage_free",
								"storage_percent"];
	
	function switch_camera_modes(mode) {	
		var options = null;
		if(mode==="raspistill") {
			options = still_options;
			document.getElementById("shutter_button").innerHTML = "Take Image";
		} else if(mode==="raspivid") {
			options = video_options;
			document.getElementById("shutter_button").innerHTML = "Record Video";
		} else if(mode==="raspiyuv") {
			options = yuv_options;
			document.getElementById("shutter_button").innerHTML = "Record Image";
		}
		var temp = document.querySelectorAll(".additional_camera_options");
		for(var i=0; i<temp.length; i++) {
			temp[i].style.display = 'block';
		}
		for(var i=0; i<options.length; i++) {
			document.getElementById(options[i]).style.display = 'none';
		}
	}
	
		function scale_aspect_ratio(axis, amount) {
			if(document.getElementById("aspect_ratio_lock").checked) {
				var ratio = document.getElementById("aspect_ratio").value;
				var width = ratio.split(":")[0];
				var height = ratio.split(":")[1];
				if(axis=="width") {
					document.getElementById("aspect_width").value = Math.round(amount * width / height);
				} else {
					document.getElementById("aspect_height").value = Math.round(amount * height / width);
				}
			}
		}
			
		function toggle_uv_mode(checked) {
			if(checked) {
				document.getElementById("u_channel").disabled = false;
				document.getElementById("y_channel").disabled = false;
				document.getElementById("encoding").disabled = true;
			} else {
				document.getElementById("u_channel").disabled = true;
				document.getElementById("y_channel").disabled = true;
				document.getElementById("encoding").disabled = false;
			}
		}
		
		function toggle_timelapse_mode(checked) {
			if(checked) {
				document.getElementById("timelapse_interval").disabled = false;
				document.getElementById("timelapse_time_unit").disabled = false;
				document.getElementById("timelapse_window").disabled = false;
				document.getElementById("output_session_title").style.display = 'table-row';
				document.getElementById("output_subfolder_names").style.display = 'table-row';
				document.getElementById("shutter_button").innerHTML = "Begin Sequence";
				document.getElementById("output_optional_subfolders").style.display = 'table-row';
				if(document.getElementById("timelapse_window").checked) {
					toggle_timelapse_window(true);
				}
			} else {
				document.getElementById("timelapse_interval").disabled = true;
				document.getElementById("timelapse_time_unit").disabled = true;
				document.getElementById("timelapse_window").disabled = true;
				toggle_timelapse_window(false);
				document.getElementById("output_session_title").style.display = 'none';
				document.getElementById("output_subfolder_names").style.display = 'none';
				document.getElementById("output_optional_subfolders").style.display = 'none';
				document.getElementById("shutter_button").innerHTML = "Record Image";
			}
		}
		
		function toggle_timelapse_window(checked) {
			if(checked) {
				document.getElementById("timelapse_start_hours").disabled = false;
				document.getElementById("timelapse_start_minutes").disabled = false;
				document.getElementById("timelapse_start_period").disabled = false;
				document.getElementById("timelapse_end_hours").disabled = false;
				document.getElementById("timelapse_end_minutes").disabled = false;
				document.getElementById("timelapse_end_period").disabled = false;
			} else {
				document.getElementById("timelapse_start_hours").disabled = true;
				document.getElementById("timelapse_start_minutes").disabled = true;
				document.getElementById("timelapse_start_period").disabled = true;
				document.getElementById("timelapse_end_hours").disabled = true;
				document.getElementById("timelapse_end_minutes").disabled = true;
				document.getElementById("timelapse_end_period").disabled = true;
			}
		}
		
		function toggle_encoding(val) {
			if(val==="jpg") {
				document.getElementById("quality_pane").style.display = 'block';
				document.getElementById("bayer_data_pane").style.display = 'block';
			} else {
				document.getElementById("quality_pane").style.display = 'none';
				document.getElementById("bayer_data_pane").style.display = 'none';
			}
		}
		
		function toggle_aspect_ratio(checked) {
				document.getElementById("aspect_ratio").disabled = !checked;
		}
		
		function retrieve() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					var p = xmlHttp.responseXML;
					for (var i = 0; i < monitor_data_points.length; i++) {
						document.getElementById(monitor_data_points[i]).innerHTML = p.getElementsByTagName(monitor_data_points[i])[0].childNodes[0].nodeValue;
					}
					setTimeout(retrieve, 1000);
				}
			};
			xmlHttp.open("GET", url + 'monitor/');
			xmlHttp.send(null);
		}
	
		function switch_modes(mode) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					document.getElementById("selection_pane").innerHTML = xmlHttp.responseText;
				}
			};			
			xmlHttp.open("GET", url + 'views/' + mode + '/');
			xmlHttp.send(null);
			var params = document.getElementsByClassName("navigation_button");
			for(var i = 0; i < params.length; i++) {
				params[i].value="unselected";
			}
			document.getElementById(mode).value="selected";
			if(mode==="monitor") {
				retrieve();
			}
		}
		
		function set_aspect_ratio(ratio) {
			var res = ratio.split("x");
			document.getElementById("aspect_width").value = res[0];
			document.getElementById("aspect_height").value = res[1];
		}
		
		function stop_image() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					switch_modes('camera');
				}
			}
			xmlHttp.open("POST", url + 'stop_sequence/');
			xmlHttp.send(null);
		}
		
		function update_viewfinder() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					document.getElementById("viewfinder").src = 'data:image/jpeg;base64,' + xmlHttp.responseText;
				}
			}
			xmlHttp.open("GET", url + 'viewfinder/');
			xmlHttp.send(null);
		}
		
		function toggle_default_filename(checked) {
			document.getElementById("output").disabled = checked;
		}
	</script>
	<link rel="stylesheet" type="text/css" href="http://192.168.1.21:8080/views/style.css">
</head>
	<body>
		<div id="main_panel">
		<div class="main_panel">
			<header>
				<h1 id="header">RasPiCam</h1>
			</header>
			<table id="navigation_menu">
				<tr>
					<td>
						<button id="monitor" type="button" class="navigation_button" value="selected" onClick="switch_modes(this.id)">MONITOR</button>
					</td>
					<td>
						<button id="camera" type="button" class="navigation_button" value="unselected" onClick="switch_modes(this.id)">CAMERA</button>
					</td>
					<td>
						<button id="system_info" type="button" class="navigation_button" value="unselected" onclick="switch_modes(this.id)">SYSTEM INFO</button>
					</td>
				</tr>
			</table>
			<div id="selection_pane"></div>
		</div>
		</div>
	</body>	
</html>
