<!DOCTYPE html>
<head>
	<script>

		//The server IP
		//Should change this so that the server injects the proper IP
		//into the page depending on how the call is made to the server
		var server_url = '192.168.1.21';
		
		//The port which the server is listening on
		var server_port = ':8080';
		
		//The above information compiled into a usable url
		var url = 'http://' + server_url + server_port + '/';

		//Array with object names relating to options for still images
		var still = [	"aspect_width",
						"aspect_height",
						"encoding",
						"sharpness",
						"contrast",
						"brightness",
						"saturation",
						"iso",
						"ev",
						"exposure",
						"aws",
						"imxfx",
						"metering",
						"rotation",
						"vflip",
						"hflip",
						"raw",
						"timelapse_enabled"];
					
		//Array with object names relating to options to YUV images
		var yuv = [	"aspect_width",
					"aspect_height",
					"sharpness",
					"contrast",
					"brightness",
					"saturation",
					"iso",
					"ev",
					"exposure",
					"awb","imxfx",
					"metering",
					"rotation",
					"hflip",
					"vflip" ];
					
		//Array with object names relating to options for video capture
		var video = [	"aspect_width",
						"aspect_height",
						"vstab",
						"sharpness",
						"contrast",
						"brightness",
						"saturation",
						"iso",
						"ev",
						"exposure",
						"aws",
						"imxfx",
						"metering",
						"rotation",
						"vflip",
						"hflip",
						"bitrate",
						"fps",
						"intra" ];

		/* Function for compiling the page and sending the options to the server */
		function take_image() {
			
			//Disable the shutter button until the input is sent
			document.getElementById("shutter_button").disabled = true;
			document.getElementById("shutter_button").innerHTML = "Starting..."
			
			var params = [];
			var sendToServer = "?" + document.getElementById("camera_mode").value + "&";

			if(document.getElementById("camera_mode").value==="raspistill") {
				params = still;
			} else if(document.getElementById("camera_mode").value==="raspivid") {
				params = video;
			} else {
				params = yuv;
			}
			
			for(var i = 0; i < params.length; i++) {

				sendToServer = sendToServer + document.getElementById(params[i]).name + "=" + document.getElementById(params[i]).value + "&";
			
				if(document.getElementById(params[i]).value==="jpg") {
					sendToServer = sendToServer + "--quality=" + document.getElementById("quality").value + "&";
				} 
			}
			
			//Check and see if the user selected timelapse mode, and compile
			//all of the timelapse option if so
			if(document.getElementById("timelapse_enabled").checked) {
				
				sendToServer += "timelapse=true&";
				sendToServer += "interval=" + document.getElementById("timelapse_interval").value + "&";
				sendToServer += "time-unit=" + document.getElementById("timelapse_time_unit").value + "&";
				
				//Check to see if the user has supplied a session name
				if(document.getElementById("session_title").value==="") {
					alert("Need an output session name");
					return;
				}	
				
				//If the user has requested that the images are automatically saved into
				//individual file folders....
				if(document.getElementById("subfolder_checkbox").checked) {
					//Add the subfolder naming to the parameters string
					sendToServer += "subfolder=" + document.getElementById("subfolder_naming").value + "&"; 
				}
				
				//Check and see if the user has set an image limit, and append it if so
				if(document.getElementById("timelapse_image_limit_toggle").checked) {
					sendToServer += "limit=" + document.getElementById("timelapse_image_limit").value + "&";
					alert("here");
				}
				
				//Check and see if the user has set a timelapse window, and append it if so
				if(document.getElementById("timelapse_window").checked) {
					sendToServer += "start-time=" + document.getElementById("timelapse_start_hours").value + ":" + document.getElementById("timelapse_start_minutes").value + "&";
					sendToServer += "end-time=" + document.getElementById("timelapse_end_hours").value + ":" + document.getElementById("timelapse_end_minutes").value + "&";
				}
			}
			
			//Check and see if the user is using the default naming scheme or not
			if(document.getElementById("default_naming_scheme_toggle").checked) {
				sendToServer += "-o=IMGP_%C"; 
			} else {
				//Check to see that the user has supplied an output name
				if(document.getElementById("output").value==="") {
					alert("Need an output file name");
					return;
				}
				sendToServer += "-o=" + document.getElementById("output").value;
			}
			
			communicate_with_server("POST", url+'start_sequence/'+sendToServer, function() { switch_modes('running_camera'); });				
				
		}
			


		window.onload = function() {
			communicate_with_server("GET", url+'views/monitor/', function(xmlHttp) {
					document.getElementById("selection_pane").innerHTML = xmlHttp.responseText;
					retrieve();
			});
		}
		
		function show_hide_options(pane) {
			var x = document.getElementById(pane);
			if(x.style.display === 'none') {
				x.style.display = 'block';
			} else {
				x.style.display = 'none';
			}
		}
		
	//Arrays of object names which will be invisible depending on the camera mode
	var yuv_options = ["tags_pane","bayer_data_pane","encoding_pane","quality_pane","vid_stab_pane","bitrate_pane","framerate_pane","timeout_pane"];
	var still_options = ["vid_stab_pane","framerate_pane","bitrate_pane","timeout_pane"];
	var video_options = ["tags_pane","bayer_data_pane","timelapse_pane","quality_pane","encoding_pane"];
	
	var monitor_data_points = [	"camera_status",
								"cpu_temperature",
								"cpu_percent",
								"platform_machine",
								"platform_version",
								"platform_system",
								"storage_total",
								"storage_used",
								"storage_free",
								"storage_percent"];
	
	/* Function for changing resources on the page depending on the mode of the camera */
	function switch_camera_modes(mode) {	
		var options = null;
		if(mode==="raspistill") {
			options = still_options;
			document.getElementById("shutter_button").innerHTML = "Take Image";
		} else if(mode==="raspivid") {
			options = video_options;
			document.getElementById("shutter_button").innerHTML = "Record Video";
		} else if(mode==="raspiyuv") {
			options = yuv_options;
			document.getElementById("shutter_button").innerHTML = "Record Image";
		}
		var temp = document.querySelectorAll(".additional_camera_options");
		for(var i=0; i<temp.length; i++) {
			temp[i].style.display = 'block';
		}
		for(var i=0; i<options.length; i++) {
			document.getElementById(options[i]).style.display = 'none';
		}
	}
	
		/* Function for equating the aspect ratio to respective resolution sizes */
		function scale_aspect_ratio(axis, amount) {
			if(document.getElementById("aspect_ratio_lock").checked) {
				var ratio = document.getElementById("aspect_ratio").value;
				var width = ratio.split(":")[0];
				var height = ratio.split(":")[1];
				if(axis=="width") {
					document.getElementById("aspect_width").value = Math.round(amount * width / height);
				} else {
					document.getElementById("aspect_height").value = Math.round(amount * height / width);
				}
			}
		}
			
			
		/* TOGGLING FUNCTIONALITY */
	
		function toggle_uv_mode(checked) {
			document.getElementById("u_channel").disabled = !checked;
			document.getElementById("y_channel").disabled = !checked;
			document.getElementById("encoding").disabled = checked;
		}
		
		function toggle_timelapse_mode(checked) {
			if(checked) {
				document.getElementById("output_session_title").style.display = 'table-row';
				document.getElementById("output_subfolder_names").style.display = 'table-row';
				document.getElementById("shutter_button").innerHTML = "Begin Sequence";
				document.getElementById("output_optional_subfolders").style.display = 'table-row';
			} else {
				document.getElementById("output_session_title").style.display = 'none';
				document.getElementById("output_subfolder_names").style.display = 'none';
				document.getElementById("output_optional_subfolders").style.display = 'none';
				document.getElementById("shutter_button").innerHTML = "Record Image";
			}
			if(document.getElementById("timelapse_window").checked) {
				toggle_timelapse_window(checked);
			}
			if(document.getElementById("timelapse_image_limit_toggle").checked) {
				toggle_timelapse_image_limit(checked);
			}
			document.getElementById("timelapse_image_limit_toggle").disabled = !checked;
			document.getElementById("timelapse_interval").disabled = !checked;
			document.getElementById("timelapse_time_unit").disabled = !checked;
			document.getElementById("timelapse_window").disabled = !checked;
		}
		
		function toggle_timelapse_window(checked) {
			document.getElementById("timelapse_start_hours").disabled = !checked;
			document.getElementById("timelapse_start_minutes").disabled = !checked;
			document.getElementById("timelapse_start_period").disabled = !checked;
			document.getElementById("timelapse_end_hours").disabled = !checked;
			document.getElementById("timelapse_end_minutes").disabled = !checked;
			document.getElementById("timelapse_end_period").disabled = !checked;
		}
		
		function toggle_encoding(val) {
			if(val==="jpg") {
				document.getElementById("quality_pane").style.display = 'block';
				document.getElementById("bayer_data_pane").style.display = 'block';
			} else {
				document.getElementById("quality_pane").style.display = 'none';
				document.getElementById("bayer_data_pane").style.display = 'none';
			}
		}
		
		function toggle_aspect_ratio(checked) {
			document.getElementById("aspect_ratio").disabled = !checked;
		}
		
		function toggle_timelapse_image_limit(checked) {
			document.getElementById("timelapse_image_limit").disabled = !checked;
		}
		
		function toggle_default_filename(checked) {
			document.getElementById("output").disabled = checked;
		}
		
		function toggle_subfolder_naming(checked) {
			document.getElementById("subfolder_naming").disabled = !checked;
		}
		
		function toggle_default_filename(checked) {
			document.getElementById("output").disabled = checked;
		}
		
		/* TOGGLING FUNCTIONALITY */
		
		
		function retrieve() {
			communicate_with_server("GET", url+'monitor/', function(xmlHttp) {
				var p = xmlHttp.responseXML;
				for (var i = 0; i < monitor_data_points.length; i++) {
					document.getElementById(monitor_data_points[i]).innerHTML = p.getElementsByTagName(monitor_data_points[i])[0].childNodes[0].nodeValue;
				}
				setTimeout(retrieve, 1000);
			});
		}
	
		function switch_modes(mode) {
			communicate_with_server("GET", url+'views/'+mode+'/', function(xmlHttp) {
				document.getElementById("selection_pane").innerHTML = xmlHttp.responseText;
			});
			
			var params = document.getElementsByClassName("navigation_button");
			for(var i = 0; i < params.length; i++) {
				params[i].value="unselected";
			}
			document.getElementById(mode).value="selected";
			if(mode==="monitor") {
				retrieve();
			}
		}
		
		function set_aspect_ratio(ratio) {
			var res = ratio.split("x");
			document.getElementById("aspect_width").value = res[0];
			document.getElementById("aspect_height").value = res[1];
		}
		
		function stop_image() {
			communicate_with_server("POST", url+'stop_sequence/', function() {
					switch_modes('camera');
			});
		}
		
		function update_viewfinder() {
			communicate_with_server("GET", url+'viewfinder/', function() {
				document.getElementById("viewfinder").src = 'data:image/jpeg;base64,' + xmlHttp.responseText;
			});
		}
		
		/* Function for sending and recieving data to and from the server */
		function communicate_with_server(http_Method, http_URL, callback) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					callback(xmlHttp);
				}
			}
			xmlHttp.open(http_Method, http_URL);
			xmlHttp.send(null);
		}
	</script>
	<link rel="stylesheet" type="text/css" href="http://192.168.1.21:8080/views/style.css">
</head>
	<body>
		<div id="main_panel">
		<div class="main_panel">
			<header>
				<h1 id="header">RasPiCam</h1>
			</header>
			<table id="navigation_menu">
				<tr>
					<td>
						<button id="monitor" type="button" class="navigation_button" value="selected" onClick="switch_modes(this.id)">MONITOR</button>
					</td>
					<td>
						<button id="camera" type="button" class="navigation_button" value="unselected" onClick="switch_modes(this.id)">CAMERA</button>
					</td>
					<td>
						<button id="system_info" type="button" class="navigation_button" value="unselected" onclick="switch_modes(this.id)">SYSTEM INFO</button>
					</td>
				</tr>
			</table>
			<div id="selection_pane"></div>
		</div>
		</div>
	</body>	
</html>
